* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: Helvetica Neue;
}
.pagewrapper {
  display: flex;
  height: 100vh;
}
.rightpage {
  position: relative;
  width: 85%;
  margin: auto;
  height: 100vh;
}
.bluebar {
  height: 100vh;
  width: auto;
}
.topsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
h2 {
  color: #4284f4;
  font-size: 40px;
}
.backbutton {
  width: 90px;
}
.glogo {
  width: 80px;
}
.products {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product p {
  font-weight: 500;
  color: #4284f4;
  margin-top: 20px;
  cursor: pointer;
}
.product img {
  width: 70%;
  cursor: pointer;
}
.firstrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 150px;
}
.secondrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
}
.thirdrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
}
